<div class="bg-sky-50 mx-auto px-4 py-8 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-sky-200 bg-sky-100 rounded-md mx-4 w-[25rem]" >
      <!-- プロフィール編集 -->
      <%= render 'profiles/edit_form', { profile: @profile } %>
    </div>
  </div>
</div>
