<div class="bg-sky-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-sky-100 bg-sky-50 rounded-md mx-4 w-[25rem]" >
      <h1 class="font-light text-sky-600 text-2xl mt-4 text-center">プロフィール</h1>

      <%= form_with model: @profile, local: true, class: "text-gray-600" do |f| %>
        <div class="flex flex-row justify-center">
          <%= @profile.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>
