<div class="min-h-screen bg-gray-50 px-4 text-gray-700">
  <h1 class="pt-8 text-2xl font-bold text-center">プライバシーポリシー</h1><br>

  <div class="flex justify-center">
    <div class="flex flex-col w-auto md:w-[45rem]">
      <p>
        本ウェブサイト上で提供するサービス「LivePlanningManager」（以下、「本サービス」といいます）における、
        ユーザーの個人情報の取り扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます）を定めます。
      </p><br>

      <p class="pt-6 text-xl font-bold">第1条（ユーザーから取得する情報）</p><br>
      <p>本サービスは、ユーザーから以下の情報を取得します。</p><br>
      <p>1. 氏名(ニックネームも含む)</p>
      <p>2. メールアドレス</p><br>

      <p class="pt-6 text-xl font-bold">第2条（ユーザーの情報を利用する目的）</p><br>
      <p>本サービスがお客様から取得した情報を利用する目的は，以下のとおりです。</p><br>
      <p>1. 本サービスの提供・運営のため</p>
      <p>2. ユーザーからのお問い合わせに対応するため</p>
      <p>3. 本サービスの利用規約や法令に違反する行為に対応するため</p>
      <p>4. メンテナンス、重要なお知らせなど必要に応じたご連絡のため</p>
      <p>5. ユーザーにご自身の登録情報の閲覧や変更を行っていただくため</p>
      <p>6. 以上の他、管理者サービスの提供、維持、保護及び改善のため</p><br>

      <p class="pt-6 text-xl font-bold">第3条（利用目的の変更）</p><br>
      <p>1. 本サービスは、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</p>
      <p>2. 利用目的の変更を行った場合には、変更後の目的について、本サービス所定の方法により、ユーザーに通知、または本ウェブサイト上に公表するものとします。</p><br>

      <p class="pt-6 text-xl font-bold">第4条（個人情報の第三者提供）</p><br>
      <p>本サービスは、個人情報保護法その他の法令に基づき開示が認められる場合を除き、お客様からお預かりした個人情報を、お客様ご本人の同意を得ずに第三者に提供することはありません。</p><br>

      <p class="pt-6 text-xl font-bold">第5条（プライバシーポリシーの変更）</p><br>
      <p>1. 本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</p>
      <p>2. 本サービスが別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</p><br>

      <p class="pt-6 text-xl font-bold">第6条（プライバシーポリシーの制定日）</p><br>
      <p>制定 : 2024年6月27日</p><br>
    </div>
  </div>
</div>
