<div class="bg-sky-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-sky-200 bg-sky-100 rounded-md mx-4 w-[25rem]" >
      <h1 class="font-light text-sky-600 text-2xl mt-4 text-center">プロフィール</h1>

      <%= render 'profiles/show' %>
    </div>
  </div>
</div>
