<div class="bg-indigo-50 min-h-screen px-4">
  <h1 class="pt-8 text-3xl font-medium text-sky-500 text-center">LivePlanningManager</h1>

  <p class="text-lg text-gray-500 text-center">ライブ持ち物準備サポートアプリ</p>

  <p class="mt-6 text-lg text-gray-600 text-center">
    LivePlanningManagerは、ライブに行く際の持ち物リストの作成ができ、任意で投稿もできるアプリです。
  </p>

  <div class="mt-12 flex fustify-center items-center flex-col">
    <div class="mockup-phone shadow-xl">
      <div class="camera"></div>
      <div class="display">
        <%= image_tag 'top_image.jpg', class: "artboard artboard-demo phone-1" %>
      </div>
    </div>
  </div>

  <div class="py-20 flex justify-center items-center">
    <%= link_to "新規登録して始める", new_user_path, class: "rounded-3xl text-gray-600 btn bg-green-300 text-green-700 text-sm font-light hover:ring-2 ring-green-300 hover:bg-green-400" %>
  </div>
</div>
