<div class="bg-blue-200 min-h-screen">
  <h1 class="pt-20 text-6xl font-medium text-blue-600 text-center">ライブプラマ</h1>
  <div class="pt-20 flex justify-center items-center flex-col">
    <a class="text-gray-600 btn bg-green-400 text-xl font-light">新規登録</a>
  </div>
</div>
