<% if object.errors.any? %>
  <div class="bg-gray-50 text-red-400 rounded-md">
    <ul class="mb-2 mx-6 py-4">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
