<footer class="bg-blue-100 h-16">
  <nav class="flex flex-wrap justify-center pt-5 ml-4 gap-x-4 md:justify-start md:gap-6">
    <a class="text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500">お問い合わせ</a>
    <a class="text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500">プライバシーポリシー</a>
    <a class="text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500">利用規約</a>
  </nav>
</footer>
