<div class="bg-sky-50 mx-auto px-4 py-6 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-amber-100 bg-white rounded-md w-full md:w-5/6 lg:w-3/5 xl:w-[58rem]">
      <h1 class="font-light text-amber-500 text-xl mt-4 text-center">みんなのリストへ投稿</h1>
      <p class="font-light text-gray-600 text-sm mt-1 text-center">持ち物リストを共有して参考にし合おう！</p>

      <!-- 持ち物リスト投稿フォーム -->
      <%= render 'form' %>
    </div>
  </div>
</div>
