<div class="dropdown dropdown-buttom dropdown-end float-right">
  <div tabindex="0" role="button" class="mr-4 bg-white">
    <p class="mb-2 text-sm text-gray-400 hover:text-gray-500">•••</p>
  </div>

  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-36 text-gray-600">
    <% if @live.packing_items.present? %>
      <% if @live.post.present? %>
        <li class="my-2 text-gray-400 flex text-center">
          投稿済み
        </li>
      <% else %>
        <li class="text-amber-500 flex justify-center">
          <%=link_to new_life_post_path(@live) do %>
            <i class="fa-solid fa-scroll"></i>
            投稿する
          <% end %>
        </li>
      <% end %>
    <% end %>

    <li class="ml-1 text-red-400 flex justify-center">
      <% if @live.post.present? %>
        <%= link_to life_path(@live), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？※「みんなのリスト」への投稿も一緒に削除されます。" } do %>
          <i class="fa-solid fa-trash-can"></i>
          削除する
        <% end %>
      <% else %>
        <%= link_to life_path(@live), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
          <i class="fa-solid fa-trash-can"></i>
          削除する
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
