<div class="bg-sky-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg bg-teal-50 rounded-md w-full md:w-5/6 lg:w-3/5">
      <!-- ライブ登録編集 -->
      <%= render 'edit_form', { live: @live } %>
    </div>
  </div>
</div>
