<div class="bg-sky-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-teal-100 bg-teal-50 rounded-md w-full md:w-5/6 lg:w-3/5 flex fustify-center items-center flex-col">
      <h1 class="font-light text-teal-600 text-2xl mt-4 text-center">ライブ登録</h1>

      <!-- ライブ登録フォーム -->
      <%= render 'form', { live: @live } %>
    </div>
  </div>
</div>
