<div class="bg-sky-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg bg-teal-50 rounded-md w-full md:w-5/6 lg:w-3/5">
      <div class="float-right text-red-400 mt-3 mr-3">
        <%= link_to "削除", life_path(@live), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
      <!-- ライブ登録詳細 -->
      <%= render 'show_form', { live: @live } %>
    </div>
  </div>
</div>
