@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.completed {
  text-decoration: line-through;
}

.simple-calendar {
  .wday-0 {
    background-color: #ffe3e3;
  }
  .wday-6 {
    background-color: #e0ebff;
  }

  .today {
    border: 2px solid #ffd27f;
  }

  .prev-month {
    background-color: #e7e7e7;
  }
  .next-month {
    background-color: #e7e7e7;
  }

  .has-events {
    background-color: #eafff9;
  }
}

.flash-message {
  animation: fadeout 4s forwards; /* Start the fade out after 4s */
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.text-xxs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}
